<!DOCTYPE html>
<html>
<head>
  <title>Arlab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "All students", students_path(@students) %> &emsp;
<%= link_to "Create new student profile", new_student_path(@students) %>
<%= yield %>

</body>
</html>
